:root{
    --maincolor: #00df86;
    --secondcolor: #1e292f;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 10000px; */
    background-image: linear-gradient(to right, rgb(8, 8, 8), rgb(0, 0, 31));
    padding: 200px 5vw 0;
}
a {
    text-decoration: none;
}
.header {
    width: 90%;
    height: 65px;
    background-color: var(--secondcolor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1050;
}
.header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header img {
    max-height: 65px;
    padding: 0;
    margin: 0 10px 0 0
}
.header .logo h2{
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: white;
}
.header .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    justify-content: space-evenly;
    height: 65px;
    align-items: center;
}
.header .links ul a {
    color: white;
    transition-duration: .3s;
}
.header .icon {
    height: 65px;
    width: 65px;
    position: relative;
}
.header .icon i {
    color: black;
    background-color: var(--maincolor);
    height: 65px;
    width: 100%;
    padding: 18.58px;
    font-size: 27.87px;
    align-self: flex-end;
}
.header .links ul a:hover {
    font-size: larger;
    color: red;
}
.header .icon ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--maincolor);
    display: none;
    width: 240px;
    top: 86px;
    right: 0;
}
.header .icon ul::after {
    content: "";
    border-bottom: 17px solid var(--maincolor);
    border-right: 15px solid #ffff0000;
    border-top: 15px solid #0000ff00;
    border-left: 15px solid transparent;
    position: absolute;
    right: 17px;
    top: -32px;
    
}
.header .icon ul li {
    font-size: 25px;
    padding: 3px 0 3px 5px;
}
.header .icon ul li:not(:last-of-type) {
    border-bottom: 1px solid black;
}
.header .icon ul a{
    color: black;
    transition: .3s;
}
.header .icon ul a:hover {
    padding-left: 15px;
}
.header .icon:hover ul{
    display: block;
    z-index: 1050;
}
.home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
    margin-bottom: 300px;
}
.home .info {
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home .info h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: white;
}
.home .info span {
    color: var(--maincolor);
}
.home .info p {
    color: white;
    line-height: 2;
    font-size: 20px;
}
.home .info .cv {
    background-color: var(--maincolor);
    position: relative;
    border-radius: 5px;
    transition-duration: .3s;
    height: 50px;
    width: 150px;
}
.home .info .cv a {
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.home .myfoto {
    max-width: 30vw;
}
.home img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.home .cv .incv {
    position: absolute;
    top: 50%;
    right: -31%;
    transform: translate(-50%, -50%);
}
.home .info .cv:hover {
    box-shadow: 0px 0px 10px 4px #211a1a inset;
}
.spicial-title {
    text-align: center;
}
.spicial-title h2 {
    color: var(--maincolor);
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: -20px;
}
.spicial-title h3 {
    color: white;
    font-size: 30px;
    font-weight: normal;
}
hr {
    width: 70px;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--maincolor), transparent);
    text-align: center;
}
.card {
    text-align: center;
    width: 370px;
    height: 396px;
    border-radius: 10px;
    padding: 32px;
    background-color: var(--secondcolor);
}
.services {
    padding-top: 150px;
    margin-bottom: 200px;
}
.services .cards {
    margin-top: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
    margin-bottom: 100px;
}
.services .card i {
    color: var(--maincolor);
    font-size: 92px;
    width: 128px;
    height: 128px;
    padding-top: 25px;
}
.card h3 {
    font-size: 27px;
}
.card p {
    font-size: 20px;
}
.card h3,
.card p {
    color: white;
}
.projects {
    padding-top: 200px;
    margin-bottom: 300px;
}
.projects .projects-content .project1 {
    position: relative;
}
.projects .projects-content {
    margin-top: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, 390px);
    justify-content: center;

}
.projects .projects-content .project1 img {
    width: 230px;
    height: 135px;
}
.projects .projects-content .tast:first-of-type a {
    color: black;
}
.projects .projects-content .tast a{
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 20px;
}
.projects-content .card {
    text-align: center;
    width: 390px;
    height: 429px;
    border-radius: 10px;
    padding: 32px;
    background-color: var(--secondcolor);
}
.projects .projects-content .project1 .tast:last-of-type a {
    color: white;
}
.projects .projects-content .project1 .tast:first-of-type {
    background-color: var(--maincolor);
    left: 40px;
    bottom: 14px;
    width: 120px;
    height: 48px;
    border-radius: 5px;
}
.projects .projects-content .project1 .tast:last-of-type {
    background-color: var(--secondcolor);
    right: 40px;
    bottom: 14px;
    width: 120px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid var(--maincolor);
}
.projects .projects-content .project1 .tast {
    display: inline-block;
    position: absolute;
    text-align: center;
    transition-duration: .3s;
}
.projects .projects-content .project1 .tast:hover {
    box-shadow: 0px 0px 10px 4px #211a1a inset;
}
.projects .projects-content .project1 .tast .intast {
    position: relative;
}
.about {
    padding-top: 150px;
    margin-bottom: 200px;
}
.about .about-contect {
    padding-top: 40px;
}
.about .about-content p {
    line-height: 2;
    font-size: 20px;
}
.about .about-content .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about .about-content img {
    max-width: 390px;
    max-height: 390px;
}
.about .about-content .inf {
    color: white;
    width: 40vw;
}
.about .about-content .inf i {
    font-size: 75px;
    color: var(--maincolor);
}
.about .about-content .inf h3 {
    font-size: 31px;
}
.about .about-content .inf h3 span {
    color: var(--maincolor);
}
.about .about-content .exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    font-size: 17px;
}
.about .about-content .exp div {
    display: inline-block;
    color: white;
    margin: 20px 20px;
    text-align: center;
    border-radius: 13px;
    padding: 17px;
    margin-bottom: 10px;
    background-color: var(--secondcolor);
}
.about .about-content .exp div::first-line {
    color: var(--maincolor);
    font-weight: 800;
    font-size: 30px;
}
.contact .icons {
    margin-top: 300px;
    text-align: center;
    margin-bottom: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact .icons a {
    font-size: 60px;
    display: inline-block;
    margin: 0 15px;
    color: var(--maincolor);
    transition: .3s;
}
.contact .icons a:hover {
    transform: translate(0, -15px);
}
.footer hr {
    width: 400px;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--maincolor), transparent);
    text-align: center;
}
.footer .infooter {
    text-align: center;
    color: white;
    margin: 7px 0 11px 0;
    font-weight: 200;
    font-size: 13px;
}
.footer .infooter a {
    font-weight: 600;
    font-size: larger;
    color: var(--maincolor);
}
@media (max-width:1000px) {
    .header .links {
        display: none;
    }
    .header .icon ul li {
        font-size: 40px;
    }
    .header .icon ul::after {
        top: -31px;
    }
    .header .icon ul {
        width: 350px;
    }
    .home {
        flex-direction: column;
    }
    .home .myfoto {
        align-self: center;
        max-width: 60%;
    }
    .home .info {
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 90px;
        align-items: center;
    }
    .home .info h1,
    .home .info p {
        text-align: center;
    }
    .home .info h1 {
        font-size: 50px
    }
    .home .info p {
        font-size: 30px;
        margin: 100px 0;
    }
    .home .info .cv .incv {
        right: -39%;
        font-size: 25px;
    }
    .home .myfoto{
        max-width: 67%
    }
    .home .info .cv {
        height: 100px;
        width: 220px;
        border-radius: 20px;
    }
    .about .about-content .image {
        flex-direction: column;
        align-items: center;
    }
    .about .about-content .inf {
        text-align: center;
        width: 56vw;
    }
    .about .about-content .exp {
        font-size: 20px;
    }
}